/* Variables -----  */
:root{
    --primary-color: #5c5173



}

/* Variables -----  */


/* General Styles -------- */

body{

    font-family: 'Poppins', sans-serif;
    /* background-color: rgba(128,0,128,0.2) */
    background-image: url(images/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.pointer{
    cursor: pointer;
}
.primary-text{
    color: var(--primary-color)
}
/* General Styles -------- */

/* Navbar Styles ------------- */

.nav-link:focus, .nav-link:hover {
    color: black !important;
    font-weight: bold;
}
.nav-link {
    color: white !important;
}
.nav-icon{
    color: black;
    cursor: pointer;
}
.nav-icon:hover{
    color: black !important;
}

.fa-bell::after{
    position: absolute;
    content:"";
    height: 0.3rem ;
    width: 0.3rem;
    top: 25;
    right: 0;
    background-color: red;
    border-radius: 50%;
}

/* Navbar Styles ------------- */


/* Dashboard Styles -------------  */
.announcement::after{
    background-image: url("images/wireless-communication-network-diagrams-icons-abstract-business-backgrounds-internet-things-concepts-wireless-150559344.jpg");
    background-blend-mode: color-burn;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    filter: contrast(80%);
    filter:brightness(50%);
    position: absolute;
    content: "";
    border-radius: 0.5rem;
    z-index:-99;
}

.fa-arrow-up-long {
background-color: rgba(13, 102, 13,0.3);
}
.fa-arrow-down-long{
    background-color: rgba(238, 25, 25,0.5);
}

.card{
    z-index: 999;
}
button{
    background-color: var(--primary-color) !important;
}
.fa-check{
background-color: rgb(4, 148, 4);
}
.row-head{
    width: 12%;
}
td{
    padding-top: 0.8rem !important;
    padding-bottom: 0.8rem !important;
}

/* Dashboard Styles -------------  */


/* Media Queries --------- */

@media only screen and (max-width: 1200px) {
   .available-funds{
    margin-top: 2rem;
   }
  }

/* Media Queries --------- */